@using OsiteNew.ViewModels
@model ProfileVM
@{
    bool IsAdmin = false;
    bool IsMyPost = false;
    bool IsAuthenticated = false;
}
@if(User.Identity.IsAuthenticated)
    IsAuthenticated = true;

@if(IsAuthenticated && Model.LogUser.RoleId == 1)
    IsAdmin = true;

<link href="/css/profile.css" rel="stylesheet" />

<div class="page">
    <div class="head">
        <img class="ava" src="@Model.LogUser.Avatar"/>

        @* <form method="post" enctype="multipart/form-data" action="/Profile/UploadAvatar" class="avaChanger">
            <input type="file" name="avatar" accept="image/*" />
            <input type="submit" value="Загрузить аватар" />
        </form> *@

        <div class="personalData">
            <p>@Model.LogUser.Name</p>
            <p>@Model.LogUser.Birthday</p>
            <p>@Model.LogUser.PhoneNumber</p>
            <p>@Model.LogUser.About</p>
        </div>
    </div>

    @await Html.PartialAsync("NewPost")

    <div class="posts">
        @foreach(var post in Model.Posts) {
            IsMyPost = false;
            @if(IsAuthenticated && Model.LogUser.Email == post.Author.Email)
                IsMyPost = true;
            <div class="post">
                <div class="postHead">
                    <div class="author">
                        <img src="@post.Author.Avatar" />
                        <div class="nick">@post.Author.Nickname</div>
                    </div>
                    <div class="title">
                        <h1>@post.Title</h1>
                        <h2>@post.Date </h2>
                        <h2>@post.Time</h2>
                    </div>

                    @if(IsAdmin || IsMyPost) {
                        <form method="post">
                            <input type="hidden" name="id" value="@post.Id" />
                            <input asp-action="Delete" type="submit" value="Удалить" />
                        </form>
                    }

                </div>
                <div class="desc">@post.Description</div>
            </div>
        }
    </div>
</div>