@using OsiteNew.ViewModels;
@model HomeVM
<link href="/css/home.css" rel="stylesheet" />

@{
    bool IsAdmin = false;
    bool IsMyPost = false;
    bool IsAuthenticated = false;
}
@if (User.Identity.IsAuthenticated)
    IsAuthenticated = true;

@if(IsAuthenticated && Model.LogUser.RoleId == 1)
    IsAdmin = true;

    @if(!String.IsNullOrEmpty(ViewBag.ImageUrl)){

        <img class="cat" src="@ViewBag.ImageUrl" alt="Котик">
    }

<div class="posts">
    @foreach (var post in Model.Posts) {
        IsMyPost = false;
        @if (IsAuthenticated && Model.LogUser.Email == post.Author.Email)
            IsMyPost = true;
        <div class="post">
            <div class="postHead">
                <div class="author">
                    <img src="@post.Author.Avatar"/>
                    <div class="nick">@post.Author.Nickname</div>
                </div>
                <div class="title">
                    <h2>@post.Title,</h2>
                    <h2>@post.Date </h2>
                    <h2>@post.Time</h2>
                </div>

                @if(IsAdmin || IsMyPost) {
                    <form method="post">
                        <input type="hidden" name="id" value="@post.Id" />
                        <input asp-action="Delete" type="submit" value="Удалить" />
                    </form>
                }

            </div>
            <div class="desc">@post.Description</div>
        </div>
    }
</div>


<a asp-action="NewPost">
    <span class="newPostButton"></span>
</a>