@using OsiteNew.Models
@model List<Event>
<link href="/css/events.css" rel="stylesheet" />

<div class="events">
    @foreach(var item in Model) {
        <div class="main">
            <div class="title">
                <h2>@item.Title,</h2>
                <h2>@item.Date </h2>
                <h2>@item.Time</h2>
            </div>

            <form method="post">
                <input type="hidden" name="id" value="@item.Id" />
                <input asp-action="Delete" type="submit" value="Удалить" />
                @* <a asp-controller ="Event" asp-action="Edit"><button>Изменить</button></a> *@
            </form>
        </div>

        <div class="place">@item.Place</div>
        <div class="desc">@item.Description</div>
    }
</div>

<a asp-controller="Event" asp-action="NewEvent">
    <span class="newEventButton"></span>
</a>
   
