@using OsiteNew.Models
@model List<Event>
<link href="/css/events.css" rel="stylesheet" />

<div class="events">
    @foreach(var item in Model) {
        <div class="main">
            <h2>@item.Title,</h2>
            <h2>@item.Date </h2>
            <h2>@item.Time</h2>
        </div>

        <div class="place">@item.Place</div>
        <div class="desc">@item.Description</div>
    }
</div>


