@using OsiteNew.ViewModels
@model EventsVM
<link href="/css/events.css" rel="stylesheet" />

@{ bool IsAdminAuthenticated = false; }
@if (User.Identity.IsAuthenticated && Model.User.RoleId == 1) {
    IsAdminAuthenticated = true;
}

<div class="events">
    @foreach(var item in Model.Events) {
        <div class="main">
            <div class="title">
                <h2>@item.Title,</h2>
                <h2>@item.Date </h2>
                <h2>@item.Time</h2>
            </div>
            @if(IsAdminAuthenticated) {
                <form method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input asp-action="Delete" type="submit" value="Удалить" />
                    <input asp-action="Edit" type="submit" value="Изменить"/>
                </form>
            }
        </div>

        <div class="place">@item.Place</div>
        <div class="desc">@item.Description</div>
    }
</div>

@if(IsAdminAuthenticated) { 
    <a asp-controller="Event" asp-action="NewEvent">
        <span class="newEventButton"></span>
    </a>
}
   
